#content
  font-size: 115%
  line-height: 150%
  a
    text-decoration: underline
    color: $CMOA_RED
#hero_image
  figcaption
    color: $MIDDLE_GREY
    font-size: 75%
    text-align: right

.footnotes
  color: #777
  font-size: 90%

h4
  clear: both
.headshot
  float: left
  width: 250px
  display: block
  height: 250px
  padding: 8px 20px 20px 0
  clear: both
  overflow: hidden
  img
    width: 100%

#acq_list, #standard
  img
    max-width: 100%
  h3
    margin-top: 2em
    font-size: 140%
  .footnotes
    border-top: 1px solid #777
    margin-top: 2em
    padding-top: 1em
  pre
    margin-bottom: 2.5em

  blockquote
    font-size: 14px
    color: #999
    font-weight: 500
    line-height: 16px
  p > code
    white-space: nowrap
#toc
  font-size: 90%
  line-height: 130%
  a
    text-decoration: none
    &:hover
      text-decoration: underline
  ul
    padding-left: 15px
    li
      list-style: none
#toc > ul > li > ul
  padding-bottom: 1em


.date_table 
  font-size: 90%
  background-color: #FAFAFA
  th
    background-color: #EEE
  th:first-child
    width: 20%
