#content
  font-size: 115%
  line-height: 150%
  a
    text-decoration: underline
    color: $CMOA_RED
#hero_image
  figcaption
    color: $MIDDLE_GREY
    font-size: 75%
    text-align: right

.footnotes
  color: #777
  font-size: 90%