= wrap_layout :base_layout do 

  %article.row#content
    - if content_for? :intro
      .col-md-10.col-md-offset-1
        = yield_content :intro
    .col-md-6.col-md-offset-1
      = yield
    %sidebar.col-md-3.col-md-offset-1#toc.well.hidden-print
      %h3 Table of Contents
      = yield_content :toc
