%footer.page_footer.container-fluid  
  .row
    .col-sm-3.footer-col
      %ul.list-unstyled
        %li.header QUICK LINKS
        %li
          %a{href: "/pages/standard"} The Provenance Standard
        %li
          %a{href: "/pages/elysa"} The Elysa Tool
        %li
          %a{href: "/pages/Team"} The Team
        %li
          %a{href: "/pages/press"} Publications & Articles

    .col-sm-3.footer-col
      %ul.list-unstyled
        %li.header REFERENCES
        %li TBD

    .col-sm-3.footer-col
      %ul.list-unstyled
        %li.header GITHUB
        %li TBD

    .col-sm-3.footer-col
      %ul.list-unstyled
        %li.header CONNECT
        %li
          %a{href: 'http://www.cmoa.org/contact/'} Contact Us

  .row
    .col-xs-12
      #footer_logo 
        Art Tracks is a project of
        %br
        %img.img-responsive.logo{src: '/images/cmoa_logo.png', alt: "Carnegie Museum of Art"}
  .row       
    .col-xs-12
      .copyright
        One of the four Carnegie Museums of Pittsburgh.  
        %br.visible-xs-inline
        &copy; Carnegie Museum of Art, Carnegie Institute 2014. 
        %br
        This site and its content are released under the 
        %a{href: "https://creativecommons.org/publicdomain/zero/1.0/"} CC0 1.0 Universal (CC0 1.0) Public Domain Dedication. 
        %br
        All logos are the property of their respective owners.