---
title: "Dates for Provenance"
---

- toc, text = generate_toc('data/dates.md',self)

- content_for :intro do
  %h1 Date Parsing for Provenance

  %hr

- content_for :toc do
  = toc

#standard
  = find_and_preserve(text)